{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Hello {{ app.user.username }} 👋</h1>
    <p>Your roles: {{ app.user.roles|join(', ') }}</p>
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
